.img_wrapper {
	padding: 10px;
	background: #e3e3e3;
	display: inline-table;
	border-radius: 4px;
}

.navbar-inner.buhlmann {
	background: #003d5b; /* Old browsers */
	background: -moz-linear-gradient(top,  #003d5b 0%, #003249 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003d5b), color-stop(100%,#003249)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #003d5b 0%,#003249 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #003d5b 0%,#003249 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #003d5b 0%,#003249 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #003d5b 0%,#003249 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003d5b', endColorstr='#003249',GradientType=0 ); /* IE6-9 */
}
.dropdown.open.buhlmann {
	background: #001C28;
}